.products-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.basket-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: block;
}

@media only screen and (max-width: 1100px) {
  .products-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: block;
  }
}
